@font-face {
  font-family: 'fraunces_title';
  src: url('../resources/fonts/fraunces_italic_title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'frauncesblack';
  src: url('../resources/fonts/fraunces_variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr 1fr 2fr;
  gap: 10px;
  background-color: rgb(54, 54, 54);
  padding: 10px;
}

body > div {
  padding: 50px;
  border-radius: 20px;
}

.title-div {
  background-color: rgb(0, 25, 94);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  font-family: 'fraunces_title';
  font-variation-settings: "wght" 700, "SOFT" 70;
}

.title-div > p {
  font-size: 10rem;
  margin: 0;
  color: rgb(255, 145, 0);
}

.title-div > p:first-child {
  color: rgb(250, 195, 42);
  align-self: flex-start;
}

.title-div > p:last-child {
  color: rgb(255, 72, 0);
  align-self: flex-end;
}

.form-div {
  background-color: rgb(95, 125, 209);
}

.game-div {
  background-color: rgb(189, 234, 255);
}