@font-face {
  font-family: 'frauncesblack';
  src: url('../resources/fonts/fraunces_variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px;
  background-color: rgb(54, 54, 54);
  padding: 10px;
}

body > div {
  padding: 50px;
  border-radius: 20px;
  display: grid;
  background-color: rgb(95, 125, 209);
  grid-row: 1 / 2;
}

/* ------------------- TITLE DIV STYLES ------------ */

.title-div {
  background-color: rgb(0, 25, 94);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  font-family: 'frauncesblack';
  font-variation-settings: "wght" 700, "SOFT" 40, "opsz" 144;
}

.title-div > p {
  font-size: 10rem;
  margin: 0;
  color: rgb(255, 145, 0);
}

.title-div > p:first-child {
  color: rgb(250, 195, 42);
  align-self: flex-start;
}

.title-div > p:last-child {
  color: rgb(255, 72, 0);
  align-self: flex-end;
}

/* ------------------- FORM DIV STYLES ---------------- */

.form-div {
  grid-template-rows: 1fr 1.5fr 1fr;
  padding: 30px;
}

.form-div h2 {
  padding: 20px;
  font-family: 'frauncesblack';
  font-size: 3.2rem;
  font-variation-settings: 'wght' 700, 'SOFT' 50, 'WONK' 1, 'opsz' 9;
}

.form-div > form {
  background-color: rgb(126, 159, 248);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  border-radius: 20px;
}

.form-div > form > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

form label {
  font-family: 'frauncesblack';
  font-size: 1.6rem;
  font-variation-settings: 'wght' 500, 'SOFT' 100, 'WONK' 1, 'opsz' 80;
}

form input {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 15px;
  padding-left: 12px;
  height: 35px;
  font-family: 'frauncesblack';
  font-size: 1.2rem;
  font-variation-settings: 'wght' 500, 'SOFT' 100, 'WONK' 1, 'opsz' 80;
  color: rgb(44, 44, 44);
}

.form-div > div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 50px 0px;
}

.form-div button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 18px;
  border: none;
  font-family: 'frauncesblack';
  font-size: 2.8rem;
  font-variation-settings: 'wght' 700, 'SOFT' 50, 'WONK' 1, 'opsz' 9;
  padding-bottom: 5px;
  background-color: rgb(95, 125, 209);
  color: rgb(250, 195, 42);
}

.form-div button:hover {
  color: rgb(255, 145, 0);
}

.form-div button:active {
  color: rgb(255, 72, 0);
}

/* ------------------- GAME DIV STYLES ------------ */

.game-div {
  grid-template-rows: 1fr 5fr;
  padding: 50px 100px 80px 100px; 
  position: relative;
}

.message-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-box > h2 {
  font-size: 3.5rem;
  font-family: 'frauncesblack';
  font-variation-settings: 'wght' 700, 'SOFT' 50, 'WONK' 1, 'opsz' 9;
  margin: 0;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  display: grid;
  width: 90%;
  height: 90%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 20px;
  gap:20px;
}

.cell {
  border-radius: 20px;
  background-color: rgb(126, 159, 248);
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 9rem;
  font-family: 'frauncesblack';
  font-variation-settings: 'wght' 700, 'opsz' 144, 'SOFT' 80;
}

.author {
  position: absolute;
  width: 210px;
  height: 45px;
  background-color: rgb(250, 195, 42);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 30px;
}

.author p {
  color: black;
  font-family: 'frauncesblack';
  font-size: 1.3rem;
  font-variation-settings: 'wght' 700, 'opsz' 50, 'SOFT' 50, 'WONK' 1;
}

.author a {
  text-decoration: underline;
  color: black;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.author img {
  width: 22px;
}